.App {
  text-align: center;
  padding: 35px;
}

.node-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(210, 210, 210);
  border-right: 1px solid rgb(210, 210, 210);
  padding: 20px 100px;
}

.app-top {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.child-container{
  display: flex;
  flex-direction: column;
  width: 95%;
}

.tree-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}